.info {
    &-title {
        font-family: SFUIText;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        padding-top: 40px;
        color: $black;
    }

    &-desc {
        font-family: SFUIText;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-top: 25px;
        padding-bottom: 40px;
        margin: 0;
        color: $black;
        width: 225px;
    }

    // ! Поиск
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;        
        width: 450px;
        height: 50px;
        margin-top: 30px;
        position: relative;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        @media (max-width:510px) {
            order: 1;

        }


        &-right {
            display: flex;
            align-items: center;
            padding: 15px;
        }

        @media (max-width:1150px) {
            width: auto;
            justify-content: space-between;
            margin-bottom: 25px;
        }
        @media (max-width:700px) {
            width: 100%;
        }

        @media (max-width:585px) {
            margin: 0;
        }


    }

    &__search {
        position: absolute;
        margin: 12px;
    }

    &__input {
        border: none;
        font-family: Roboto;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: $black;
        opacity: 0.3;


        width: 100%;
        background-color: $grey;
        border-radius: 14px;
        padding-left: 45px;
        height: 40px;

        @media (max-width:1150px) {
            width: 600px;
        }

        @media (max-width:850px) {
            width: 100%;
        }

        @media (max-width:705px) {
            width: 200px;
        }
    }

    &__user-foto {
        width: 40px;
        height: 40px;
        padding: 5px;
    }



    &__sub-menu {
        position: relative;

        .sub-menu {
            &__arrow {
                cursor: pointer;
                margin: 10px;
                width: 7px;
                height: 4px;
            }

            &__list {
                position: absolute;
                right: -30px;
                top: 10px;
                background-color: $grey;
                border-radius: 14px;
                padding: 20px;
                width: 500px;
                list-style: none;
                transition: all 0.5s ease-in-out;
                opacity: 0;

        @media (max-width:1200px) {
            width: 300px;
        }
        @media (max-width:720px) {
            width: auto;
        }
            }

            &__item {
                text-align: right;
                padding-right: 15px;
                padding-top: 10px;
            }

            &__link {
                text-decoration: none;
                font-family: Roboto;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $black;
            }

            &--active {
                opacity: 1;
            }
        }
    }

    // ! Статистика
    &__amount {

        &-course {
            display: flex;
            width: 450px;
            align-self: center;

            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            @media (max-width:1150px) {
                width: 100%;
                margin: 0 50px;
                justify-content: space-between;
            }
            @media (max-width:750px) {
                width: auto;
                margin: 0;
            }

            @media (max-width:510px) {
                order: 4;
            }
            @media (max-width:420px) {
                flex-direction: column;
                align-items: center;
            }


        }

        &-wrap {
            width: 210px;
            height: 97px;
            display: flex;
            justify-content: center;
            background-color: $grey;
            border-radius: 14px;
            margin-right: 20px;



            &:last-child {
                margin-right: 0;
            }

            @media (max-width:470px) {
                margin-right: 0;
                margin-bottom: 10px;
            }


            .amount {
                &__number {
                    font-family: SFUIText;
                    font-weight: bold;
                    font-size: 64px;
                    line-height: 76px;
                    padding-right: 15px;
                    color: $black;

                    @media (max-width:470px) {
                        padding-right: 30px;
                    }
                }

                &__desc {
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    width: 90px;
                    color: $black;
                }
            }

        }
    }

    // ! График
    &__statistics {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 7;
        margin-top: 26px;
        margin-bottom: 50px;

        &-chart {
            width: 100%;
            max-width: 450px;
            margin-bottom: 50px;
        }

        @media (max-width:1150px) {
            display: none;
        }
    }

    // ! Больше курсов
    &__more {
        &-course {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 450px;


            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 7;
            grid-row-end: 10;

            @media (max-width:1150px) {
                width: 600px;
                justify-content: space-between;
                margin: 0 auto;
                align-self: center;
            }

            @media (max-width:800px) {
                width: 100%;
                padding: 0 30px;
            }

            @media (max-width:510px) {
                order: 5;

            }
        }

        &-img {
            width: 125px;
            height: 125px;

            @media (max-width:700px) {
                display: none;
            }
        }
    }
}