.wrapper {
    display: grid;
    grid-template-columns: 133px 1fr;
    grid-gap: 113px;
    position: relative;
    max-width: 1810px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 25px;

    @media (max-width:1720px) {
        column-gap: 25px;
        justify-content: space-between;
    }

    @media (max-width:630px) {
        grid-template-columns: 100px 1fr;
    }

    @media (max-width:585px) {
        grid-template-columns: 100%;
        margin: 20px;
    }

}


.user {
    &__container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: repeat(10, 100px);
        column-gap: 115px;
        margin-top: 28px;
        width: 100%;
        max-width: 1600px;
        justify-content: space-between;

        @media (max-width:1780px) {
            column-gap: 25px;
        }

        @media (max-width:1150px) {
            display: flex;
            flex-direction: column;
            padding: 0 40px;
        }

        @media (max-width:750px) {
            padding: 0 10px;
        }

        @media (max-width:420px) {
            margin: 0;
        }
    }

    &__hello {
        display: flex;
        justify-content: space-between;
        color: $black;
        width: 100%;
        background-color: $grey;
        border-radius: 14px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        @media (max-width:510px) {
            order: 2;
        }



        &-img {
            margin-right: 45px;
            width: 175px;
            height: 191px;

            @media (max-width:700px) {
                display: none;
            }

        }

        &-text {
            margin-top: 27px;
            margin-left: 31px;
        }

        &-title {
            font-family: SFUIText;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            margin: 0;

            @media (max-width:420px) {
                font-size: 18px;
                line-height: 21px;
            }

        }

        &-desc {
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            padding-top: 14px;

            @media (max-width:420px) {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &__courses {
        display: flex;

        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $grey;
        border-radius: 14px;
        padding-top: 40px;
        margin-bottom: 40px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        @media (max-width:1150px) {
            padding-top: 20px;
            margin-bottom: 20px;
        }

        @media (max-width:510px) {
            grid-template-columns: 100px 100%;
            flex-direction: column;
            order: 3;
            margin-top: 15px;
            margin-bottom: 35px;

        }

        .courses__wrap {
            &-left {
                display: flex;
                width: 100%;
            }

            &-right {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 0 20px;

                @media (max-width:510px) {
                    justify-content: space-between;

                }
            }

        }


    }
}

.courses {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;

    &__progress {
        justify-self: flex-end;
        margin-right: 47px;
    }

    @media (max-width:510px) {
        order: 6;

    }
}